.div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px; /* Adjust the margin-top value as needed */
}

.password-toggle-button {
  background-color: transparent;
  box-shadow: none;
  border: none;
  outline: none;
}

.strength-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 20px;
  margin-bottom: 10px; /* Adjust the margin-bottom value as needed */
  border-radius: 5px;
}

.strength-section span {
  display: inline-block;
  text-align: center;
}

.gray {
  background-color: gray;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}
